name: Generate Preview
on: [pull_request]
jobs:
  Generate-Preview:
    runs-on: ubuntu-latest
    environment: docs-build
    steps:
      - uses: actions/checkout@v2
        with:
          # we need to checkout tk-doc-generator submodule as well.
          submodules: 'true'
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
      - name: Install pandoc
        run: sudo apt-get install -y pandoc
      - name: Install jekyll dependencies
        run: bundle install --gemfile=./tk-doc-generator/Gemfile --deployment
      - name: Install tk-doc-generator requirements
        run: pip install -r ./tk-doc-generator/requirements.txt
      - name: Generate and publish preview
        env:
          DOC_PATH:
          S3_BUCKET: sg-devdocs
          S3_WEB_URL: http://sg-devdocs.s3-website-us-east-1.amazonaws.com
          DOC_URL: https://developer.shotgridsoftware.com
          REPO_URL: shotgunsoftware/shotgunsoftware.github.io
          CNAME: developer.shotgridsoftware.com
          PR_NUMBER: ${{ github.event.number }}
          AWS_S3_ACCESS_KEY: ${{ secrets.AWS_S3_ACCESS_KEY }}
          AWS_S3_ACCESS_TOKEN: ${{ secrets.AWS_S3_ACCESS_TOKEN }}
          TK_GITHUB_TOKEN: ${{ secrets.TK_GITHUB_TOKEN }}
        run: python ./tk-doc-generator/actions-generate-docs.py
